html{
    margin:0;
}

body{
    background-color: #212121;
    color: aliceblue;
    text-align: center;
    margin: 100px auto 100px;
}

input{
    border-radius: 5px;
}

button{
    border-radius: 5px;
    border-color: #212121;
    background-color:rgb(33, 152, 89);
    color: aliceblue;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

#results{
    font-size: 50px;
    color: rgb(33, 152, 89);
    font-weight: bolder;
}
